/*******************************************************
                      PLAY PAGE
*******************************************************/
/* line 5, ../scss/style.scss */
html {
  background-image: url("../image/presence.gif");
}

/* line 13, ../scss/style.scss */
body {
  background-color: rgba(255, 192, 17, 0.5);
  /*#FFDB86*/
  margin: 0;
  min-height: 900px;
}

/* line 21, ../scss/style.scss */
.logo {
  max-width: 370px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: -20px;
}

/* line 29, ../scss/style.scss */
.anim-principal {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 400px;
  margin-top: -5px;
}

/* line 39, ../scss/style.scss */
.banner {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 350px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 49, ../scss/style.scss */
h1 {
  font-family: "DottyShadow";
  font-size: 47px;
  margin-top: 55px;
  z-index: 1;
  position: absolute;
  left: 127px;
}

/* line 59, ../scss/style.scss */
h1 a {
  text-decoration: none;
  color: #FDE233;
  /*#9E1E1E;  darkred  #B52525;  /*pink vif #4B3A4B;*/
}

@font-face {
  font-family: "DottyShadow";
  src: url("../font/DottyShadow.ttf");
}

/****************
  ROLLING LINKS
*****************/
/* line 78, ../scss/style.scss */
.roll {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  perspective: 300px;
  perspective-origin: 50% 50%;
}

/* line 87, ../scss/style.scss */
.roll:hover {
  background: none;
  text-shadow: none;
}

/* line 91, ../scss/style.scss */
.roll span {
  display: block;
  position: relative;
  padding: 0 2px;
  pointer-events: none;
  transition: all 400ms ease;
  transform-origin: 50% 0%;
  transform-style: preserve-3d;
}

/* line 103, ../scss/style.scss */
.roll:hover span {
  background: white;
  transform: translate3d(0px, 0px, -55px) rotateX(90deg);
}

/* line 108, ../scss/style.scss */
.roll span:after {
  content: attr(data-title);
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  padding: 1px 2px;
  white-space: nowrap;
  color: white;
  /*#F7FF9C;*/
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  transform-origin: 50% 0%;
  transform: translate3d(0px, 105%, 0px) rotateX(-90deg);
}

/*******************************************************
                      VIDEO PAGE
*******************************************************/
/* line 139, ../scss/style.scss */
.container {
  width: 480px;
}

/* line 145, ../scss/style.scss */
.guess-anim {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  margin-top: 20px;
  outline: none;
}

/* line 154, ../scss/style.scss */
.container a p {
  color: black;
  text-align: center;
  font-size: 35px;
  margin-top: -72px;
  font-family: "chinrg__";
  color: #FDE233;
  text-shadow: 2px 0 0 rgba(0, 0, 0, 0.5), -1px 0 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(0, 0, 0, 0.5), 0 -2px 0 rgba(0, 0, 0, 0.5), 1px 1px rgba(0, 0, 0, 0.5), -1px -1px 0 rgba(0, 0, 0, 0.5), 1px -1px 0 rgba(0, 0, 0, 0.5), -1px 1px 0 rgba(0, 0, 0, 0.5);
}

/* line 166, ../scss/style.scss */
video {
  margin: 10px;
  box-shadow: 0 0 10px #000;
}

/* line 172, ../scss/style.scss */
.rid-dr {
  max-height: 300px;
  z-index: 1;
  position: absolute;
  top: 198px;
  left: 422px;
}

/* line 180, ../scss/style.scss */
.rid-gh {
  max-height: 300px;
  z-index: 1;
  position: absolute;
  top: 198px;
  left: 10px;
}

@font-face {
  font-family: "Typo_Comica_italic_demo";
  src: url("../font/Typo_Comica_italic_demo.otf");
}

@font-face {
  font-family: "chinrg__";
  src: url("../font/chinrg__.ttf");
}

/*******************************************************
                      ANSWER PAGE
*******************************************************/
/* line 206, ../scss/style.scss */
button {
  font-family: "FantasticParty";
  font-size: 30px;
  margin-top: 18px;
  border: 5px dotted #F7FF9C;
  border-radius: 10px;
  background-color: #D52B2B;
  padding: 0 70px 0 70px;
  /* not working box-shadow: 1px 1px 11px 5px #242424; */
}

/* line 219, ../scss/style.scss */
a {
  text-decoration: none;
  color: #F7FF9C;
}

/* line 233, ../scss/style.scss */
.banner-color {
  width: 93%;
  height: 110px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* line 237, ../scss/style.scss */
.banner-color-bottom {
  width: 93%;
  height: 110px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 30px;
}

/* line 242, ../scss/style.scss */
#first-answer {
  margin-top: 0px;
}

/* line 246, ../scss/style.scss */
#answers p {
  font-family: "FantasticParty";
  color: #FDE233;
  font-size: 40px;
  margin-left: 150px;
  margin-top: -65px;
  position: absolute;
  z-index: 1;
  text-shadow: 2px 0 0 rgba(0, 0, 0, 0.5), -1px 0 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(0, 0, 0, 0.5), 0 -2px 0 rgba(0, 0, 0, 0.5), 1px 1px rgba(0, 0, 0, 0.5), -1px -1px 0 rgba(0, 0, 0, 0.5), 1px -1px 0 rgba(0, 0, 0, 0.5), -1px 1px 0 rgba(0, 0, 0, 0.5);
  outline: none;
}

/* line 260, ../scss/style.scss */
.star {
  max-width: 80px;
  margin-top: -40px;
  margin-bottom: -10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* line 269, ../scss/style.scss */
.smallStar {
  max-width: 60px;
  margin-top: 0px;
  margin-left: 280px;
}

@font-face {
  font-family: "FantasticParty";
  src: url("../font/FantasticParty.ttf");
}

/*******************************************************
                      RESULT PAGE
*******************************************************/
/*
.star {
  max-width: 330px;
  margin-left: auto;
  margin-right: auto;  
  margin-top: -30px;
  display: block;
} */
/* line 297, ../scss/style.scss */
.dot {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -30px;
  display: block;
}

/* line 306, ../scss/style.scss */
.score {
  text-align: center;
  color: white;
  /*text-shadow*/
  margin-top: -120px;
  /*-195px;*/
  font-size: 35px;
  font-family: "Starlight";
}

/* line 318, ../scss/style.scss */
.points {
  text-align: center;
  color: #D52B2B;
  font-size: 21px;
  margin-top: -8px;
  /*8px;*/
  font-family: "Another X Display tfb";
}

/* line 328, ../scss/style.scss */
.start-again {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  margin-top: -25px;
  outline: none;
}

/* line 337, ../scss/style.scss */
.text-play-again {
  font-size: 20px;
  margin-top: -55px;
  text-shadow: 2px 0 0 rgba(0, 0, 0, 0.5), -1px 0 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(0, 0, 0, 0.5), 0 -2px 0 rgba(0, 0, 0, 0.5), 1px 1px rgba(0, 0, 0, 0.5), -1px -1px 0 rgba(0, 0, 0, 0.5), 1px -1px 0 rgba(0, 0, 0, 0.5), -1px 1px 0 rgba(0, 0, 0, 0.5);
  font-family: "chinrg__";
  text-align: center;
  color: #FDE233;
}

/* line 346, ../scss/style.scss */
.more-fun {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  margin-top: 70px;
  outline: none;
}

/* line 355, ../scss/style.scss */
.text-more-fun {
  font-size: 55px;
  text-align: center;
  text-shadow: 2px 0 0 rgba(0, 0, 0, 0.5), -1px 0 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(0, 0, 0, 0.5), 0 -2px 0 rgba(0, 0, 0, 0.5), 1px 1px rgba(0, 0, 0, 0.5), -1px -1px 0 rgba(0, 0, 0, 0.5), 1px -1px 0 rgba(0, 0, 0, 0.5), -1px 1px 0 rgba(0, 0, 0, 0.5);
  font-family: "MTF Toast-guess";
  margin-top: -120px;
  /*margin-left: -50px;*/
  color: #FDE233;
}

/* line 366, ../scss/style.scss */
#score-total {
  margin-top: 90px;
}

@font-face {
  font-family: "MTF Toast-guess";
  src: url("../font/MTF Toast-guess.ttf");
}

@font-face {
  font-family: "chinrg__";
  src: url("../font/chinrg__.ttf");
}

@font-face {
  font-family: "Another X Display tfb";
  src: url("../font/Another X Display tfb.ttf");
}

@font-face {
  font-family: "Starlight";
  src: url("../font/Starlight.ttf");
}
