/*******************************************************
                      PLAY PAGE
*******************************************************/
/* line 5, ../scss/style.scss */
html {
  background-image: url("../image/presence.gif");
  width: 100%;
  height: 100%;
}

/* line 13, ../scss/style.scss */
body {
  background-color: rgba(255, 192, 17, 0.5);
  /*#FFDB86*/
  margin: 0;
  height: 90%;
}

/* line 21, ../scss/style.scss */
.logo {
  max-width: 370px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: -20px;
}

/* line 30, ../scss/style.scss */
.anim-principal {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  margin-top: -5px;
}

/* line 39, ../scss/style.scss */
.banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  margin-top: -130px;
  margin-bottom: 20px;
}

/* line 48, ../scss/style.scss */
h1 {
  font-family: "DottyShadow";
  font-size: 47px;
  margin-top: 55px;
  z-index: 1;
  left: 127px;
  text-align: center;
}

/* line 58, ../scss/style.scss */
h1 a {
  text-decoration: none;
  color: #FDE233;
  /*#9E1E1E;  darkred  #B52525;  /*pink vif #4B3A4B;*/
}

@font-face {
  font-family: "DottyShadow";
  src: url("../font/DottyShadow.ttf");
}

/****************
  ROLLING LINKS
*****************/
/* line 75, ../scss/style.scss */
.roll {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  perspective: 300px;
  perspective-origin: 50% 50%;
}

/* line 83, ../scss/style.scss */
.roll:hover {
  background: none;
  text-shadow: none;
}

/* line 88, ../scss/style.scss */
.roll span {
  display: block;
  position: relative;
  padding: 0 2px;
  pointer-events: none;
  transition: all 400ms ease;
  transform-origin: 50% 0%;
  transform-style: preserve-3d;
}

/* line 99, ../scss/style.scss */
.roll:hover span {
  transform: translate3d(0px, 0px, -45px) rotateX(101deg);
}

/* line 104, ../scss/style.scss */
.roll span:after {
  content: attr(data-title);
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  padding: 1px 2px;
  white-space: nowrap;
  color: white;
  /*#F7FF9C;*/
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  transform-origin: 50% 0%;
  transform: translate3d(0px, 105%, 0px) rotateX(-90deg);
}

/*******************************************************
                      VIDEO PAGE
*******************************************************/
/* line 131, ../scss/style.scss */
.guess-anim {
  width: 250px;
  margin-top: 20px;
}

/* line 137, ../scss/style.scss */
img.guess-anim {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* line 144, ../scss/style.scss */
.container a p {
  color: black;
  text-align: center;
  font-size: 35px;
  margin-top: -72px;
  font-family: "chinrg__";
  color: #FDE233;
  text-shadow: 2px 0 0 rgba(0, 0, 0, 0.5), -1px 0 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(0, 0, 0, 0.5), 0 -2px 0 rgba(0, 0, 0, 0.5), 1px 1px rgba(0, 0, 0, 0.5), -1px -1px 0 rgba(0, 0, 0, 0.5), 1px -1px 0 rgba(0, 0, 0, 0.5), -1px 1px 0 rgba(0, 0, 0, 0.5);
}

/* line 155, ../scss/style.scss */
.content {
  position: relative;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* line 162, ../scss/style.scss */
.content video {
  width: 100%;
}

/* line 166, ../scss/style.scss */
.content:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  padding-right: 0px;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/53676/curtains.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@font-face {
  font-family: "Typo_Comica_italic_demo";
  src: url("../font/Typo_Comica_italic_demo.otf");
}

@font-face {
  font-family: "chinrg__";
  src: url("../font/chinrg__.ttf");
}

/*******************************************************
                      ANSWER PAGE
*******************************************************/
/* line 195, ../scss/style.scss */
a {
  text-decoration: none;
  color: #F7FF9C;
}

/* line 210, ../scss/style.scss */
.banner-color {
  width: 400px;
  height: 110px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* line 214, ../scss/style.scss */
.banner-color-bottom {
  width: 400px;
  height: 110px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 60px;
}

/* line 219, ../scss/style.scss */
#first-answer {
  margin-top: 0px;
}

/* line 223, ../scss/style.scss */
#answers p {
  font-family: "FantasticParty";
  color: #FDE233;
  font-size: 40px;
  margin-top: -65px;
  z-index: 1;
  text-shadow: 2px 0 0 rgba(0, 0, 0, 0.5), -1px 0 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(0, 0, 0, 0.5), 0 -2px 0 rgba(0, 0, 0, 0.5), 1px 1px rgba(0, 0, 0, 0.5), -1px -1px 0 rgba(0, 0, 0, 0.5), 1px -1px 0 rgba(0, 0, 0, 0.5), -1px 1px 0 rgba(0, 0, 0, 0.5);
  outline: none;
  text-align: center;
  transition: all 1s ease;
}

/* line 236, ../scss/style.scss */
#answers p:hover {
  font-size: 50px;
}

/* line 240, ../scss/style.scss */
p#im {
  margin-top: -95px;
}

/* line 244, ../scss/style.scss */
.star {
  max-width: 80px;
  margin-top: -40px;
  margin-bottom: -10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* line 253, ../scss/style.scss */
.smallStar {
  max-width: 60px;
  margin-top: 0px;
  margin-left: 280px;
}

@font-face {
  font-family: "FantasticParty";
  src: url("../font/FantasticParty.ttf");
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* line 272, ../scss/style.scss */
  .banner-color {
    width: 80%;
  }

  /* line 276, ../scss/style.scss */
  #answers p {
    font-size: 10px;
  }
}
/*******************************************************
                     RESULT PAGE
*******************************************************/
/* line 288, ../scss/style.scss */
.dot {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -30px;
  display: block;
}

/* line 296, ../scss/style.scss */
.score {
  text-align: center;
  color: white;
  /*text-shadow*/
  margin-top: -120px;
  /*-195px;*/
  font-size: 35px;
  font-family: "Starlight";
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.5), -3px 0 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(0, 0, 0, 0.5), 0 -2px 0 rgba(0, 0, 0, 0.5), 1px 1px rgba(0, 0, 0, 0.5), -1px -1px 0 rgba(0, 0, 0, 0.5), 1px -1px 0 rgba(0, 0, 0, 0.5), -1px 1px 0 rgba(0, 0, 0, 0.5);
}

/* line 307, ../scss/style.scss */
.points {
  text-align: center;
  color: #D52B2B;
  font-size: 21px;
  margin-top: -8px;
  /*8px;*/
  font-family: "Another X Display tfb";
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.5), -1px 0 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(0, 0, 0, 0.5), 0 -1px 0 rgba(0, 0, 0, 0.5), 1px 1px rgba(0, 0, 0, 0.5), -1px -1px 0 rgba(0, 0, 0, 0.5), 1px -1px 0 rgba(0, 0, 0, 0.5), -1px 1px 0 rgba(0, 0, 0, 0.5);
}

/* line 317, ../scss/style.scss */
.more-fun {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 270px;
  margin-top: 70px;
  outline: none;
}

/* line 326, ../scss/style.scss */
.text-more-fun {
  font-size: 50px;
  text-align: center;
  text-shadow: 2px 0 0 rgba(0, 0, 0, 0.5), -1px 0 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(0, 0, 0, 0.5), 0 -2px 0 rgba(0, 0, 0, 0.5), 1px 1px rgba(0, 0, 0, 0.5), -1px -1px 0 rgba(0, 0, 0, 0.5), 1px -1px 0 rgba(0, 0, 0, 0.5), -1px 1px 0 rgba(0, 0, 0, 0.5);
  font-family: "MTF Toast-guess";
  margin-top: -147px;
  /*margin-left: -50px;*/
  color: #FDE233;
  transform: rotate(-11deg);
  padding: 5px 10px 0 -700px;
}

/* line 339, ../scss/style.scss */
#score-total {
  padding-top: 25px;
}

/* line 343, ../scss/style.scss */
.right-pic {
  margin: 50px 100px 0 160px;
  max-height: 200px;
}

/* line 348, ../scss/style.scss */
.wrong-pic {
  margin: 50px 150px 0 40px;
  max-height: 200px;
}

/* line 354, ../scss/style.scss */
.big {
  font-size: 95px;
}

/* line 358, ../scss/style.scss */
.medium {
  font-size: 72px;
}

/* line 362, ../scss/style.scss */
.rotate-text {
  transform: rotate(4deg);
}

@font-face {
  font-family: "MTF Toast-guess";
  src: url("../font/MTF Toast-guess.ttf");
}

@font-face {
  font-family: "chinrg__";
  src: url("../font/chinrg__.ttf");
}

@font-face {
  font-family: "Another X Display tfb";
  src: url("../font/Another X Display tfb.ttf");
}

@font-face {
  font-family: "Starlight";
  src: url("../font/Starlight.ttf");
}
