/*******************************************************
                      PLAY PAGE
*******************************************************/
/* line 5, ../scss/style.scss */
html {
  background-image: url("../image/presence.gif");
  width: 100%;
  height: 100%;
}

/* line 13, ../scss/style.scss */
body {
  background-color: rgba(255, 192, 17, 0.5);
  /*#FFDB86*/
  margin: 0;
  height: 100%;
}

/* line 21, ../scss/style.scss */
.logo {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* line 29, ../scss/style.scss */
#anim {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 35, ../scss/style.scss */
.anim-principal {
  width: 105%;
  margin-top: 0;
}

/* line 41, ../scss/style.scss */
.banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  margin-top: -18vh;
}

/* line 49, ../scss/style.scss */
h1 {
  font-family: "DottyShadow";
  font-size: 2.2em;
  margin-top: 2.5vh;
  z-index: 1;
  text-align: center;
}

/* line 58, ../scss/style.scss */
h1 a {
  text-decoration: none;
  color: #FDE233;
  /*#9E1E1E;  darkred  #B52525;  /*pink vif #4B3A4B;*/
}

@font-face {
  font-family: "DottyShadow";
  src: url("../font/DottyShadow.ttf");
}

@font-face {
  font-family: "BigSquareDots";
  src: url("../font/BigSquareDots.ttf");
}

/****************
  ROLLING LINKS
*****************/
/* line 79, ../scss/style.scss */
.roll {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  perspective: 300px;
  perspective-origin: 50% 50%;
}

/* line 87, ../scss/style.scss */
.roll:hover {
  background: none;
  text-shadow: none;
}

/* line 92, ../scss/style.scss */
.roll span {
  display: block;
  position: relative;
  padding: 0 2px;
  pointer-events: none;
  transition: all 400ms ease;
  transform-origin: 50% 0%;
  transform-style: preserve-3d;
}

/* line 103, ../scss/style.scss */
.roll:hover span {
  transform: translate3d(0px, 0px, -45px) rotateX(101deg);
}

/* line 108, ../scss/style.scss */
.roll span:after {
  content: attr(data-title);
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  padding: 1px 2px;
  white-space: nowrap;
  color: white;
  /*#F7FF9C;*/
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  transform-origin: 50% 0%;
  transform: translate3d(0px, 105%, 0px) rotateX(-90deg);
}

/*******************************************************
                      VIDEO PAGE
*******************************************************/
/* line 131, ../scss/style.scss */
.guess-anim {
  width: 60%;
  margin-top: 12vh;
}

/* line 137, ../scss/style.scss */
img.guess-anim {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* line 144, ../scss/style.scss */
.container a p {
  text-align: center;
  font-size: 2.1em;
  margin-top: -9vh;
  font-family: "BigSquareDots";
  /*MTF Toast-guess";*/
  color: #FFF000;
  text-shadow: 2px 0 0 rgba(0, 0, 0, 0.5), -1px 0 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(0, 0, 0, 0.5), 0 -2px 0 rgba(0, 0, 0, 0.5), 1px 1px rgba(0, 0, 0, 0.5), -1px -1px 0 rgba(0, 0, 0, 0.5), 1px -1px 0 rgba(0, 0, 0, 0.5), -1px 1px 0 rgba(0, 0, 0, 0.5);
}

/* line 155, ../scss/style.scss */
.content {
  position: relative;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

/* line 162, ../scss/style.scss */
.content video {
  width: 100%;
  margin-top: 5vh;
}

/* line 168, ../scss/style.scss */
.content:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 92%;
  padding-right: 0px;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/53676/curtains.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: 5vh;
}

@font-face {
  font-family: "Typo_Comica_italic_demo";
  src: url("../font/Typo_Comica_italic_demo.otf");
}

@font-face {
  font-family: "chinrg__";
  src: url("../font/chinrg__.ttf");
}

/*******************************************************
                      ANSWER PAGE
*******************************************************/
/* line 198, ../scss/style.scss */
a {
  text-decoration: none;
  color: #F7FF9C;
}

/* line 214, ../scss/style.scss */
#answer2 {
  margin-top: 5vh;
  margin-bottom: 9vh;
}

/* line 219, ../scss/style.scss */
.banner-color-top {
  width: 100%;
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  /*margin-top: 0px;
  margin-bottom: 10.5vh;*/
}

/* line 224, ../scss/style.scss */
.banner-color-middle {
  width: 100%;
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
                      /*
margin-bottom: 19vh;*/
}

/* line 228, ../scss/style.scss */
.banner-color-bottom {
  width: 100%;
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
                      /*
margin-top: 10vh;*/
}

/* line 247, ../scss/style.scss */
#first-answer {
  font-family: "Arista";
  color: #FDE233;
  font-size: 6em;
  z-index: 1;
  text-shadow: 2px 0 0 rgba(0, 0, 0, 0.5), -1px 0 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(0, 0, 0, 0.5), 0 -2px 0 rgba(0, 0, 0, 0.5), 1px 1px rgba(0, 0, 0, 0.5), -1px -1px 0 rgba(0, 0, 0, 0.5), 1px -1px 0 rgba(0, 0, 0, 0.5), -1px 1px 0 rgba(0, 0, 0, 0.5);
  outline: none;
  text-align: center;
  transition: all 1s ease;
  margin-top: -7.5vh;
}

/* line 252, ../scss/style.scss */
#second-answer {
  font-family: "Arista";
  color: #FDE233;
  font-size: 6em;
  z-index: 1;
  text-shadow: 2px 0 0 rgba(0, 0, 0, 0.5), -1px 0 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(0, 0, 0, 0.5), 0 -2px 0 rgba(0, 0, 0, 0.5), 1px 1px rgba(0, 0, 0, 0.5), -1px -1px 0 rgba(0, 0, 0, 0.5), 1px -1px 0 rgba(0, 0, 0, 0.5), -1px 1px 0 rgba(0, 0, 0, 0.5);
  outline: none;
  text-align: center;
  transition: all 1s ease;
  margin-top: -7.5vh;
}

/* line 257, ../scss/style.scss */
#third-answer {
  font-family: "Arista";
  color: #FDE233;
  font-size: 6em;
  z-index: 1;
  text-shadow: 2px 0 0 rgba(0, 0, 0, 0.5), -1px 0 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(0, 0, 0, 0.5), 0 -2px 0 rgba(0, 0, 0, 0.5), 1px 1px rgba(0, 0, 0, 0.5), -1px -1px 0 rgba(0, 0, 0, 0.5), 1px -1px 0 rgba(0, 0, 0, 0.5), -1px 1px 0 rgba(0, 0, 0, 0.5);
  outline: none;
  text-align: center;
  transition: all 1s ease;
  margin-top: -10.5vh;
}

/* line 263, ../scss/style.scss */
.star {
  max-width: 20%;
  margin-top: -40px;
  margin-bottom: -10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@font-face {
  font-family: "Arista";
  src: url("../font/Arista.ttf");
}

/*******************************************************
                     RESULT PAGE
*******************************************************/
/* line 295, ../scss/style.scss */
.dot {
  width: 85vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: -30px;
  display: block;
}

/* line 303, ../scss/style.scss */
.score {
  text-align: center;
  color: white;
  /*text-shadow*/
  margin-top: -16vh;
  /*-195px;*/
  font-size: 1.1em;
  font-family: "Another X Display tfb";
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.5), -3px 0 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(0, 0, 0, 0.5), 0 -2px 0 rgba(0, 0, 0, 0.5), 1px 1px rgba(0, 0, 0, 0.5), -1px -1px 0 rgba(0, 0, 0, 0.5), 1px -1px 0 rgba(0, 0, 0, 0.5), -1px 1px 0 rgba(0, 0, 0, 0.5);
  padding-bottom: 1.6vh;
}

/* line 315, ../scss/style.scss */
.points {
  text-align: center;
  color: #D52B2B;
  font-size: 1.5em;
  margin-top: -2.5vh;
  /*8px;*/
  font-family: "Another X Display tfb";
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.5), -1px 0 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(0, 0, 0, 0.5), 0 -1px 0 rgba(0, 0, 0, 0.5), 1px 1px rgba(0, 0, 0, 0.5), -1px -1px 0 rgba(0, 0, 0, 0.5), 1px -1px 0 rgba(0, 0, 0, 0.5), -1px 1px 0 rgba(0, 0, 0, 0.5);
}

/* line 325, ../scss/style.scss */
.more-fun {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 25%;
  margin-top: 30%;
  outline: none;
}

/* line 335, ../scss/style.scss */
.text-more-fun {
  font-size: 2.3em;
  /*2.8em;*/
  text-align: center;
  text-shadow: 2px 0 0 rgba(0, 0, 0, 0.5), -1px 0 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(0, 0, 0, 0.5), 0 -2px 0 rgba(0, 0, 0, 0.5), 1px 1px rgba(0, 0, 0, 0.5), -1px -1px 0 rgba(0, 0, 0, 0.5), 1px -1px 0 rgba(0, 0, 0, 0.5), -1px 1px 0 rgba(0, 0, 0, 0.5);
  font-family: "BigSquareDots";
  /*MTF Toast-guess";*/
  margin-top: -14.5vh;
  /*margin-left: -50px;*/
  color: #FFF500;
  /*#FDE233;*/
  transform: rotate(-6deg);
  padding: 5px 10px 0 -700px;
}

/* line 349, ../scss/style.scss */
#score-total {
  padding-top: 1.6vh;
}

/* line 353, ../scss/style.scss */
.right-pic {
  margin: 5vh 10vw 0 32vw;
  max-height: 30vh;
}

/* line 358, ../scss/style.scss */
.wrong-pic {
  margin: 5vh 10vw 0 9vw;
  max-height: 30vh;
}

/* line 363, ../scss/style.scss */
.rotate-text {
  transform: rotate(4deg);
}

@font-face {
  font-family: "MTF Toast-guess";
  src: url("../font/MTF Toast-guess.ttf");
}

@font-face {
  font-family: "Another X Display tfb";
  src: url("../font/Another X Display tfb.ttf");
}

/*/////////////////COUNTER///////*/
/* line 381, ../scss/style.scss */
img.compteur {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  padding-top: 5vh;
}

/* line 390, ../scss/style.scss */
svg {
  background-color: transparent;
  /*because it'll be apply on top of the photoshop-counter*/
  z-index: 1;
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
