/*******************************************************
                      PLAY PAGE
*******************************************************/

html {

 background-image: url("../image/presence.gif");
 width: 100%;
 height: 100%;
}


body {
	background-color: rgba(255, 192, 17, 0.5);  /*#FFDB86*/
  margin: 0;
  height: 100%;

  	}


.logo {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

#anim {
      display: block;
    margin-left: auto;
    margin-right: auto;
}

.anim-principal {
    width: 105%;
    margin-top: 0;
}


.banner {    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    margin-top: -18vh;
} 

h1 {
  font-family: "DottyShadow";
  font-size: 2.2em; 
  margin-top: 2.5vh;
  z-index: 1;
  text-align: center; 
}


h1 a {
    text-decoration: none;
    color: #FDE233; /*#9E1E1E;  darkred  #B52525;  /*pink vif #4B3A4B;*/
 }

@font-face { 
    font-family: "DottyShadow";
    src: url('../font/DottyShadow.ttf');
}

@font-face { 
    font-family: "BigSquareDots";
    src: url('../font/BigSquareDots.ttf');
}


/****************
  ROLLING LINKS
*****************/


.roll {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    perspective: 300px;
    perspective-origin: 50% 50%;
}

.roll:hover {
    background: none;
    text-shadow: none;
}

.roll span {
    display: block;
    position: relative;
    padding: 0 2px;
    pointer-events: none;

    transition: all 400ms ease;
    transform-origin: 50% 0%;
    transform-style: preserve-3d;
}

.roll:hover span {

    transform: translate3d( 0px, 0px, -45px ) rotateX( 101deg );
}

.roll span:after {
    content: attr(data-title);

    display: block;
    position: absolute;
    left: 0;
    top: 0;
    padding: 1px 2px;
    white-space: nowrap;

    color: white; /*#F7FF9C;*/
    background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
    transform-origin: 50% 0%;
    transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
}




/*******************************************************
                      VIDEO PAGE
*******************************************************/

.guess-anim {

  width: 60%;
  margin-top: 12vh;
}

img.guess-anim {

  margin-left: auto;
  margin-right: auto;
  display: block;
}

.container a p {
  text-align: center;
  font-size: 2.1em;
  margin-top: -9vh;
  font-family: "BigSquareDots"; /*MTF Toast-guess";*/
  color: #FFF000;
  text-shadow: 2px 0 0 rgba(0, 0, 0, 0.5), -1px 0 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(0, 0, 0, 0.5), 0 -2px 0 rgba(0, 0, 0, 0.5), 1px 1px rgba(0, 0, 0, 0.5), -1px -1px 0 rgba(0, 0, 0, 0.5), 1px -1px 0 rgba(0, 0, 0, 0.5), -1px 1px 0 rgba(0, 0, 0, 0.5);

}


.content {
  position: relative;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.content video {
  width: 100%;
  margin-top: 5vh;

}

.content:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 92%;
  padding-right: 0px;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/53676/curtains.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: 5vh;
}


@font-face { 
    font-family: "Typo_Comica_italic_demo";
    src: url('../font/Typo_Comica_italic_demo.otf');
}


@font-face {
  font-family: "chinrg__";
  src: url("../font/chinrg__.ttf");
}


/*******************************************************
                      ANSWER PAGE
*******************************************************/


 a {
    text-decoration: none;
    color: #F7FF9C;
}


@mixin banner-color {
  width: 100%;
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#answer2 {
  margin-top: 5vh;
  margin-bottom: 9vh;
}

.banner-color-top {
@include banner-color;
  /*margin-top: 0px;
  margin-bottom: 10.5vh;*/
} 
.banner-color-middle {
@include banner-color;/*
margin-bottom: 19vh;*/
} 
.banner-color-bottom {
@include banner-color;/*
margin-top: 10vh;*/
}

@mixin answer-p {

font-family: "Arista";
color: #FDE233;
font-size: 6em;

z-index: 1;
text-shadow: 2px 0 0 rgba(0, 0, 0, 0.5), -1px 0 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(0, 0, 0, 0.5), 0 -2px 0 rgba(0, 0, 0, 0.5), 1px 1px rgba(0, 0, 0, 0.5), -1px -1px 0 rgba(0, 0, 0, 0.5), 1px -1px 0 rgba(0, 0, 0, 0.5), -1px 1px 0 rgba(0, 0, 0, 0.5);
outline : none;
text-align: center; 
transition: all 1s ease;
}
 

#first-answer {
@include answer-p;
margin-top: -7.5vh;
}

#second-answer {
@include answer-p;
margin-top: -7.5vh;
}

#third-answer {
@include answer-p;
  margin-top: -10.5vh;
}


.star {
  max-width: 20%;
  margin-top: -40px;
  margin-bottom: -10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}


@font-face { 
    font-family: "Arista";
    src: url('../font/Arista.ttf');
}


////////////////////media query////////////////////////


@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {


} 

/*******************************************************
                     RESULT PAGE
*******************************************************/



.dot {
  width: 85vw;
  margin-left: auto;
  margin-right: auto;  
  margin-top: -30px;
  display: block;
}

.score {
  text-align: center;
  color: white;
  /*text-shadow*/
  margin-top: -16vh; /*-195px;*/
  font-size: 1.1em;
  font-family: "Another X Display tfb";
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.5), -3px 0 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(0, 0, 0, 0.5), 0 -2px 0 rgba(0, 0, 0, 0.5), 1px 1px rgba(0, 0, 0, 0.5), -1px -1px 0 rgba(0, 0, 0, 0.5), 1px -1px 0 rgba(0, 0, 0, 0.5), -1px 1px 0 rgba(0, 0, 0, 0.5);
  padding-bottom: 1.6vh;
}  


.points {
  text-align: center;
  color: #D52B2B;
  font-size: 1.5em;
  margin-top: -2.5vh; /*8px;*/
  font-family: "Another X Display tfb";
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.5), -1px 0 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(0, 0, 0, 0.5), 0 -1px 0 rgba(0, 0, 0, 0.5), 1px 1px rgba(0, 0, 0, 0.5), -1px -1px 0 rgba(0, 0, 0, 0.5), 1px -1px 0 rgba(0, 0, 0, 0.5), -1px 1px 0 rgba(0, 0, 0, 0.5);

} 

.more-fun { 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 25%;
  margin-top: 30%;
  outline : none;
}

.text-more-fun {
font-size: 2.3em; /*2.8em;*/
text-align: center;
text-shadow: 2px 0 0 rgba(0, 0, 0, 0.5), -1px 0 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(0, 0, 0, 0.5), 0 -2px 0 rgba(0, 0, 0, 0.5), 1px 1px rgba(0, 0, 0, 0.5), -1px -1px 0 rgba(0, 0, 0, 0.5), 1px -1px 0 rgba(0, 0, 0, 0.5), -1px 1px 0 rgba(0, 0, 0, 0.5);
font-family: "BigSquareDots"; /*MTF Toast-guess";*/
margin-top: -14.5vh;
      /*margin-left: -50px;*/
color: #FFF500; /*#FDE233;*/
transform: rotate(-6deg);
padding: 5px 10px 0 -700px;


}

#score-total {
  padding-top: 1.6vh;
}

.right-pic {
  margin: 5vh 10vw 0 32vw;
  max-height: 30vh;
}

.wrong-pic {
  margin: 5vh 10vw 0 9vw;
  max-height: 30vh;
}

.rotate-text {
transform: rotate(4deg);
}


@font-face {
  font-family: "MTF Toast-guess";
  src: url("../font/MTF Toast-guess.ttf");
}

@font-face {
  font-family: "Another X Display tfb";
  src: url("../font/Another X Display tfb.ttf");
}


/*/////////////////COUNTER///////*/

img.compteur {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  padding-top: 5vh;

}

svg {
  background-color: transparent; /*because it'll be apply on top of the photoshop-counter*/
  z-index: 1;
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
