/*

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

}

*/


html {


background-image: url("../image/presence.gif");
background-repeat: repeat;

}


body {
	background-color: rgba(255, 192, 17, 0.5);  /*#FFDB86*/
	.padding-bottom: 30px;
	.padding-top: 30px;
    margin: 0;
	}

.logo {
    max-width: 370px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: -20px;

}
.anim {

	margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 400px;
    margin-top: 70px;
    margin-top: -60px;
}



@font-face { 
    font-family: "Starlight";
    src: url('../font/Starlight.ttf');
}
@font-face { 
    font-family: "Another X Display tfb";
    src: url('../font/Another X Display tfb.ttf');
}
@font-face { 
    font-family: "vintsis";
    src: url('../font/vintsis.ttf');
}
@font-face { 
    font-family: "DottyShadow";
    src: url('../font/DottyShadow.ttf');
}


 h1 {
        font-family: "DottyShadow";
        color: #9E1E1E;  /*darkred  #B52525;  /*pink vif #4B3A4B;*/
        font-size: 38px; 
        text-align: center;
        border-bottom-style: solid; 
        border-top-style: solid; 
        border-radius: 15% 15% 15% 15%;
        margin : 125px;  
        margin-top: 55px;
        padding-top: 3px;
        padding-bottom: 5px;
        padding-left: 5px;
        padding-right: 5px;

        text-shadow: -1px 0px 24px rgba(255, 255, 255, 1);
        
        background-color: #D889B3;  /*#D85299;*/
        box-shadow: inset 0 0 17px 6px rgba(216,82,153,.5);
        background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));

 }
/*********************************************
 * ROLLING LINKS
 ***************************************color for selected (active) : #34D1A7;******/


.roll {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;

    -webkit-perspective: 300px;
       -moz-perspective: 300px;
        -ms-perspective: 300px;
            perspective: 300px;

    -webkit-perspective-origin: 50% 50%;
       -moz-perspective-origin: 50% 50%;
        -ms-perspective-origin: 50% 50%;
            perspective-origin: 50% 50%;
}
.roll:hover {
    background: none;
    text-shadow: none;
}
.roll span {
    display: block;
    position: relative;
    padding: 0 2px;
    pointer-events: none;

    -webkit-transition: all 600ms ease;
       -moz-transition: all 400ms ease;
        -ms-transition: all 400ms ease;
            transition: all 400ms ease;
    
    -webkit-transform-origin: 50% 0%;
       -moz-transform-origin: 50% 0%;
        -ms-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
            transform-style: preserve-3d;
}
.roll:hover span {
    background: rgba(190,190,20,.9);

    -webkit-transform: translate3d( 0px, 0px, -55px ) rotateX( 90deg );
       -moz-transform: translate3d( 0px, 0px, -55px ) rotateX( 90deg );
        -ms-transform: translate3d( 0px, 0px, -55px ) rotateX( 90deg );
            transform: translate3d( 0px, 0px, -55px ) rotateX( 90deg );
}
.roll span:after {
    content: attr(data-title);

    display: block;
    position: absolute;
    left: 0;
    top: 0;
    padding: 1px 2px;
    white-space: nowrap;

    color: white;
    background: #a533fd; 

    -webkit-transform-origin: 50% 0%;
       -moz-transform-origin: 50% 0%;
        -ms-transform-origin: 50% 0%;
            transform-origin: 50% 0%;

    -webkit-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
       -moz-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
        -ms-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
            transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
}
