
/*
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

}  */


html {


background-image: url("../image/presence.gif");
background-repeat: repeat;

}


body {
	background-color: rgba(255, 192, 17, 0.5);  /*#FFDB86*/
    margin: 0;
	}

.logo {
    max-width: 370px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: -20px;

}
.anim {

	margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 400px;
    margin-top: -5px;
}



@font-face { 
    font-family: "Starlight";
    src: url('../font/Starlight.ttf');
}
@font-face { 
    font-family: "Another X Display tfb";
    src: url('../font/Another X Display tfb.ttf');
}
@font-face { 
    font-family: "vintsis";
    src: url('../font/vintsis.ttf');
}
@font-face { 
    font-family: "DottyShadow";
    src: url('../font/DottyShadow.ttf');
}


 h1 {
        font-family: "DottyShadow";
        font-size: 38px; 
        text-align: center;
        border-bottom-style: solid; 
        border-top-style: solid; 
        border-radius: 15% 15% 15% 15%;
        margin : 125px;  
        margin-top: 55px;
        padding-top: 3px;
        padding-bottom: 5px;
        padding-left: 5px;
        padding-right: 5px;

        text-shadow: -1px 0px 24px rgba(255, 255, 255, 1);
        color: #9E1E1E;  /*darkred  #B52525;  /*pink vif #4B3A4B;*/

        background-color: #D889B3;  /*#D85299;*/
        box-shadow: inset 0 0 17px 6px rgba(216,82,153,.5);
        background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));

 }

 a {
    text-decoration: none;
    color: #9E1E1E;  /*darkred  #B52525;  /*pink vif #4B3A4B;*/

 }




/*********************************************
 * ROLLING LINKS
 ***************************************color for selected (active) : #34D1A7;******/


.roll {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;

            perspective: 300px;

            perspective-origin: 50% 50%;
}
.roll:hover {
    background: none;
    text-shadow: none;
}
.roll span {
    display: block;
    position: relative;
    padding: 0 2px;
    pointer-events: none;

    transition: all 400ms ease;
            
    transform-origin: 50% 0%;
    
    transform-style: preserve-3d;
}
.roll:hover span {
    background: rgba(255,255,255,1);

    transform: translate3d( 0px, 0px, -55px ) rotateX( 90deg );
}
.roll span:after {
    content: attr(data-title);

    display: block;
    position: absolute;
    left: 0;
    top: 0;
    padding: 1px 2px;
    white-space: nowrap;

    color: white; /*#F7FF9C;*/
    background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));


    transform-origin: 50% 0%;

    transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
}




